@use "./hero";
@use "./about-me";
@use "./about-presents";
@use "./about-party";
@use "./how-to-arrive";

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  list-style: none;
  text-decoration: none;
  font-family: "Playpen Sans", cursive;
}
